.container {
    display: flex;
    align-items: center;
    gap: 5px;  
}

.logo {
    font-size: 26px;
}
.logoTitle {
    font-size: 30px;
    font-weight: bold; 
}

.wrapper{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 440px;
}

.link {
    display: inline-block;

    text-decoration: none;
    font-size: 18px;
    color: #000;
}

.link:global(.active) {
        font-weight: bold;
        color: #1a80d4;
    }

.span {
     font-size:20px;
}